<div class="home">
  <h1>Qual o o campo harmonico de D#</h1>
  <div class="answer">
    <table>
      <thead>
        <tr>
          <th>I</th>
          <th>IIm</th>
          <th>IIIm</th>
          <th>IV</th>
          <th>V</th>
          <th>VIm</th>
          <th>VIIm</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>D#</td>
          <td>E#</td>
          <td>F##</td>
          <td>G#</td>
          <td>A#</td>
          <td>B#</td>
          <td>C##</td>
        </tr>
    </table>
  </div>
  <div class="chord-options">
    <ul>
      <li *ngFor="let chord of allChords">{{chord}}</li>
    </ul>
  </div>
</div>